/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require 'partials/variables'
@require 'partials/base'
// @require 'partials/layout'

// @require 'partials/animations'
// @require 'partials/footer'
// @require 'partials/header'
// @require 'partials/iframe'
// @require 'partials/social'


// .rte
//   blockquote
//     margin-left: auto
//     margin-right: auto
//     width 80%
//   h1,h2,h3,h4,h5,h6
//     color color-1
//     margin-bottom: 1em
//   h1
//     line-height: 1.1
//     margin-bottom: 5px !important
//   h2
//     border-color color-1
//   img
//     border 1px solid #369
//   p,ol,ul
//     margin-bottom: 1em
//     &:last-child
//       margin-bottom: 0
//     +h1,+h2,+h3,+h4,+h5,+h6
//       margin-top: 2em
