.pagination
  display: flex
  justify-content: center
  font-size: .8em
  width 100%

.pagination-button
  background-color transparent
  border 0
  color color-copy
  display: flex
  align-items: center
  margin 0 20px
  transition-duration: .3s
  &:first-child
    svg
      margin-right 10px
  &:last-child
    svg
      margin-left 10px
  &:hover
    color color-1
    svg
      fill color-1
    &:first-child
      svg
        transform translateX(-5px)
    &:last-child
      svg
        transform translateX(5px)
  svg
    transition-duration: .3s
    width 10px
