.social-networks
  display: flex
  align-items: center
  a
    display: block
    margin-left: 15px
    &:hover
      path
        fill #000
  path
    fill #fff
    transition-duration: .3s
  svg
    display: block
    height: 19px
