/* pirata-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pirata-one-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/pirata-one-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pirata-one-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pirata-one-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pirata-one-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pirata-one-v9-latin-regular.svg#PirataOne') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

breakpoint-mobile = 480px
breakpoint-tablet = 600px
breakpoint-desktop = 960px
breakpoint-ipad = 768px
breakpoint-ipad-landscape = 1024px
breakpoint-air = 1400px

breakpoint-search-max = 959px
breakpoint-search = 960px
breakpoint-site-width = 1200px

color-1 = $accentColor

color-background = #369
color-copy = $textColor
color-grey = #777
color-header-background = #369
color-header-copy = #fff
color-link = color-1

font-default = 'Poppins'
font-family = font-default
font-heading = 'Pirata One'

content-width = 60ch
shadow = 0 1px 10px 5px rgba(0,0,0,0.1)
shadow-header = 0 1px 10px 5px rgba(0,0,0,0.2)
site-width = 1200px
